VIDEO_DB_NAME=video_db
VIDEO_DB_USER=user
VIDEO_DB_PASSWORD=my_password

NOTIFICATION_MAIL_HOST=smtp.example.com
NOTIFICATION_MAIL_PORT=587
NOTIFICATION_MAIL_USERNAME=guest
NOTIFICATION_MAIL_PASSWORD=guest

AUTH_DB_NAME=auth_db
AUTH_DB_USER=user
AUTH_DB_PASSWORD=my_password

JWT_SECRET=qAkwER/knmSv1FZ0qzH+E9EEj5YsLn5zm9M/fY8RH9c=
JWT_EXPIRATION=360000
JWT_ISSUER=hackathon-issuer